name: bookmark
description: A new Flutter project.

publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: '>=2.19.6 <3.0.0'

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/images/
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: raleway
      fonts:
        - asset: assets/fonts/raleway/static/Raleway-Thin.ttf
        - asset: assets/fonts/raleway/static/Raleway-ExtraLight.ttf
        - asset: assets/fonts/raleway/static/Raleway-Light.ttf
        - asset: assets/fonts/raleway/static/Raleway-Regular.ttf
        - asset: assets/fonts/raleway/static/Raleway-Medium.ttf
        - asset: assets/fonts/raleway/static/Raleway-SemiBold.ttf
        - asset: assets/fonts/raleway/static/Raleway-Bold.ttf
        - asset: assets/fonts/raleway/static/Raleway-ExtraBold.ttf
        - asset: assets/fonts/raleway/static/Raleway-Black.ttf
        - asset: assets/fonts/raleway/static/Raleway-ThinItalic.ttf
        - asset: assets/fonts/raleway/static/Raleway-ExtraLightItalic.ttf
        - asset: assets/fonts/raleway/static/Raleway-LightItalic.ttf
        - asset: assets/fonts/raleway/static/Raleway-Italic.ttf
        - asset: assets/fonts/raleway/static/Raleway-MediumItalic.ttf
        - asset: assets/fonts/raleway/static/Raleway-SemiBoldItalic.ttf
        - asset: assets/fonts/raleway/static/Raleway-BoldItalic.ttf
        - asset: assets/fonts/raleway/static/Raleway-ExtraBoldItalic.ttf
        - asset: assets/fonts/raleway/static/Raleway-BlackItalic.ttf
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
